.wrapper-form {
  color: rgb(189, 188, 188);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20rem;
  min-height: 18rem;
  border-radius: 10px;
  form {
    display: flex;
    color: white;
    min-height: 18rem;
    flex-direction: column;
    justify-content: space-between;
    .card-header {
      display: flex;
      align-items: center;
      margin: 1rem;
      border-bottom: 1px solid grey;
      input {
        text-decoration: none;
        color: white;
        background-color: transparent;
        width: 100%;
        border: 0px;
      }
      input:focus {
        outline: none;
      }
      input::placeholder {
        color: rgb(205, 118, 243);
      }
    }
    .card-content {
      min-height: 5em;
      textarea {
        text-decoration: none;
        background-color: transparent;
        resize: none;
        color: white;
        width: 100%;
        border: 0px;
        padding: 1rem;
      }
      textarea:focus {
        outline: none;
      }
      textarea::placeholder {
        color: rgb(205, 118, 243);
      }
    }
    .card-footer {
      display: flex;
      justify-content: space-between;
      justify-self: end;
      margin: 0 1rem;
      input {
        text-decoration: none;
        color: white;
        background-color: transparent;
        border: 1px solid white;
        border-radius: 5px;
      }
      ::-webkit-calendar-picker-indicator {
        filter: invert(1);
      }
      .card-footer-buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 0rem;

        button {
          background-color: black;
          color: white;
          border-radius: 50px;
          margin: 2px;
          border: 5px solid black;
        }
        .color-palette {
          display: flex;
          justify-content: space-between;

          .color-blue {
            background-color: #176294;
            border: 1px solid white;
          }
          .color-purple {
            background-color: #652feb;
            border: 1px solid white;
          }
          .color-green {
            background-color: #40bc72;
            border: 1px solid white;
          }
        }
      }
    }
  }
}
