.wrapper{
    background-color: #652feb;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 20rem;
    min-height: 18rem;
    border-radius: 10px;
    .card-header{
        display: flex;
        align-items: center;
        margin: 1rem;
        border-bottom: 1px solid grey;
        input {
        text-decoration: none;
        background-color: transparent;
        font-size: 2rem;
        font-weight: 500;
        width: 100%;
        border: 0px;
        color: grey;
      }
        input:focus {
            outline: none;
            font-size: 2rem;
            font-weight: 500;
        }
    }
    .card-content{
        min-height: 5em;
        padding: 1rem;
        textarea {
        text-decoration: none;
        resize: none;
        background-color: transparent;
        border: 0px;
        color: grey;
      }
      textarea:focus {
        outline: none;
      }
    }
    .card-footer{
        display: flex;
        justify-content: space-between;
        justify-self: end;
        margin: 0 1rem;
        button{
            background-color: black;
            color: white;
            border: 5px solid black;
            border-radius: 50px;

        }
    }
}