body{
    background-color: rgb(5, 5, 37);
    footer{
        background-color: rgb(10, 10, 50);
        margin-top: 2rem;
        padding-top: 2rem;
        color: white;
        text-align: center;
        padding: 1rem;
    }
}